body{
    margin: 0;
    padding: 25px;
}

.top-box{
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.square-1{
height: 150px;
width: 50px;
background-color: blanchedalmond;
display: inline-block;
}

.square-2{
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: chartreuse;
    margin: 0 50px;
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: darkgoldenrod;
    display: inline-block;
}

.dot-box{
    width: 100%;
    border: 5px dotted black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 25px
}

.box-shadow{
    width: 100%;
    height: 200px;
    background-color: lawngreen;
    -webkit-box-shadow: 10px 10px 5px 0px black;
    -moz-box-shadow: 10px 10px 5px 0px black;
    box-shadow: 10px 10px 5px 0px black;
}


.bottom-box{
    width: 50%;
    border: 1px solid whitesmoke;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
    margin: 25px auto;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    -moz-box-shadow: 3px 3px 5px 0px black;
    box-shadow: 3px 3px 5px 0px black;
}

.bottom-box h1{
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
}