body, html {
    margin: 0;
    padding: 0;
}

.row{
    height: 100px;
    width: 100%;
}

.row-big {
    height: 200px;
    width: 100%;
}

.row-1 {
    background-color: aquamarine;
    padding: 25px;
    box-sizing: border-box;
}

.row-1-div {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}

.row-2{
    background-color: cadetblue;
    box-sizing: border-box;
    padding: 50px;
}

.row-3{
    background-color: cornsilk;
}
.row-4{
    background-color: darkgreen;
}

.row-5{
    background-color: rgb(219, 95, 23);
}

.row-6{
    background-color: darkred;
}